.contact-info {
	position: fixed;
	bottom: 60px;
    right: 0;
	transform: translateX(120%);
	transition: transform 0.7s 0s $snap;
    display: none;
	flex-direction: column;
	align-items: center;
	letter-spacing: 2px;
	color: darken($color-white, 30%);
	z-index:  $z-Index-highest;
    text-align: center;

	#name {
		border-bottom: 3px solid $color-white;
        width: 112%;

		p {
			margin: 2px;
			color: rgba(255, 255, 255, 0.25);
			font-size: 46px;
		}
	}

	#occupation {
		p {
			margin: 6px;
            color: rgba(255, 255, 255, 0.6);
			font-size: 28px;
		}
	}

    
    @include breakpoint ($vertical-small) {
        bottom: 60px;
    }
    
	@include breakpoint ($vertical-medium) {
        bottom: 90px;

        #name {
            p {
                font-size: 38px;
            }
        }
    
        #occupation {
            p {
                margin: 6px;
                font-size: 22px;
            }
        }
    }
    
    @include breakpoint ($bp-large) {
        display: flex;
    }

    @include breakpoint ($bp-xlarge) {
        bottom: 120px;

        #name {
            p {
                font-size: 56px;
            }
        }
    
        #occupation {
            p {
                margin: 6px;
                font-size: 36px;
            }
        }
    }

    @include breakpoint ($vertical-xsmall) {
        display: none;
    }
}
