.display-item {
	max-width: 75vh;
	height: min-content;
	padding: 5vh 2vh;
	border-radius: 19px;
	background: rgba(0, 0, 0, 0.5);
	box-shadow: 5px 5px 15px #663333, -5px -5px 15px #ffcbcb;
	border: 4px solid #cc89a4;
	transition: transform 250ms ease-in-out, border 250ms ease-in-out, box-shadow 250ms ease-in-out, border-radius 250ms ease-in-out;
	overflow: hidden;
	margin: auto;

	@media (max-height: 800px) {
		max-width: 700px;
	}

	@include breakpoint($bp-large) {
		padding: 20px;
	}

	@include breakpoint($bp-xxlarge) {
		padding: 30px;
	}

	.non-project-display-item {
		min-height: 81vh;
	}

	.text-container {
		display: block;
		width: 100%;
		min-height: 16vh;
	}

	.text {
		padding: 1vh 0 5vh 0;
		font-weight: 300;
		margin: 0;
		font-size: 24px;
	}

	.carousel-root {
		height: 100%;
		min-height: 58vh;

		.carousel-slider,
		.carousel {
			height: 100%;
			margin: auto;
			overflow: visible;

			.control-arrow {
				padding: 10px;
				transform: scale(1.02);

				@include breakpoint($bp-large) {
					padding: 30px;
				}
			}

			.control-prev {
				margin-left: -3vh;
			}

			.control-next {
				margin-right: -3vh;
			}

			.slider-wrapper {
				height: 100% !important;
				overflow: visible;

				.slider {
					height: 100% !important;

					.slide {
						vertical-align: middle;
						transition: transform 250ms ease-in-out;
					}

					.selected {
						transform: scale(1.05);
						z-index: 1;

						.displayed-item,
						.react-player video {
							box-shadow: 0px 15px 40px 23px #151515;
						}
					}

					.display-item-wrapper {
						display: flex;
						height: 100% !important;
						align-items: center;
						min-height: 55vh;

						.react-player {
							width: 100% !important;
							height: min-content !important;
						}

						.displayed-item,
						.react-player video {
							transition: box-shadow 250ms ease-in-out;
							max-width: 100%;
							margin: auto;
							-khtml-user-select: none;
							-o-user-select: none;
							-moz-user-select: none;
							-webkit-user-select: none;
							user-select: none;
						}
					}
				}
			}
		}
	}

	.display-item-target {
		width: auto;
		margin: auto;
		height: 360px;
		display: block;
		transition: opacity 250ms ease-in-out;
	}

	.display-item-description {
		display: block;
		padding-top: 15px;
		text-align: left;

		@include breakpoint($bp-xlarge) {
			min-height: 240px;
		}

		p {
			margin-top: 0;
		}

		.strong {
			font-weight: 900;
		}

		.link-container {
			display: flex;
			flex-direction: row;
		}

		.link-separator {
			padding: 0 5px;
			font-size: 25px;
			margin-top: -4px;
		}

		.link {
			color: $color-white;
			font-weight: bold;
			font-size: 22px;
		}

		.display-item-message {
			color: $color-off-white;
			margin-top: 50px;
			margin-bottom: 0;
			text-align: center;
		}
	}

	.react-player {
		width: 100% !important;
		height: 100% !important;
		margin: auto;
		display: flex;
		align-items: center;

		&.has-tab-info {
			@include breakpoint($bp-xlarge) {
				height: 360px !important;
			}

			@include breakpoint($bp-xxlarge) {
				height: 510px !important;
			}
			@include breakpoint($bp-xxxlarge) {
				height: 630px !important;
			}
		}
	}

	.no-pointer-events {
		pointer-events: none;
	}
}
