.page {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: $z-Index-pages;
    
    .container {
        display: block;
        margin: auto;
        width: 90%;
        height: auto;
        border: 2px solid $color-white;
        padding: 20px;
        text-align: center;
        color: $color-white;
        top: 30px;
        margin-top: 95px;

        @include breakpoint ($bp-medium) {
            width: 80%;
        }
    
        @include breakpoint ($bp-large) {
            width: 60%;
            margin-top: auto;
        }
    }
}