.page {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: $z-Index-pages;
	overflow: auto;
    
	.max-width-container {
		max-width: $max-width;
		padding: 0 150px;
		position: absolute;
		top: 0;
		display: flex;
		align-content: center;
		height: 100%;
		width: 100%;
	}

    .container {
        display: block;
        margin: auto;
        width: 90%;
        height: auto;
        border: 2px solid $color-white;
        padding: 20px;
        text-align: center;
        color: $color-white;
        top: 30px;
        margin-top: 95px;

        @include breakpoint ($bp-medium) {
            width: 80%;
        }
    
        @include breakpoint ($bp-large) {
            width: 60%;
            margin-top: auto;
        }
    }
}