* {
	box-sizing: border-box;
}

html {
	background: black;
}

body {
	overflow: hidden;
	height: 100%;
	width: 100%;
	font-family: $font-family, sans-serif;
	outline: none;
	background: $color-black;
}

.App {
	height: 100%;
	width: 100%;
}