.menu_items {
	position: fixed;
	display: block;
	margin: 0;
	bottom: 0;
	width: 100%;
	max-height: 70vh;
	overflow-y: auto;
	overflow-x: hidden;

	@include breakpoint($bp-large) {
		max-height: 80vh;
	}

	ul {
		margin: 0;
		padding: 0;

		li {
			display: block;
			height: 70px;
			margin: 0;
			list-style: none;
			transform: translateX(-300px);
			transition: transform 0.7s 0s $snap;
			cursor: pointer;

			a {
				padding: 0 15px;
			}

			&:hover {
				.menu-item {
					color: darken($color-white, 70%);

					.menu-icon {
						&:after {
							border-color: darken($color-white, 70%);
							filter: drop-shadow(0 5px 7px rgba($color-white, 0.5));
						}
					}

					&.is-selected {
						filter: drop-shadow(0 0 20px $color-white);

						.menu-icon {
							&:after {
								filter: none;
							}
						}
					}
				}
			}

			&:active {
				.menu-icon {
					color: $transparent;
				}
			}
		}

		.menu-item {
			display: block;
			position: absolute;
			left: 0;
			top: 0;
			height: 100%;
			width: 100%;
			text-decoration: none;
			text-transform: uppercase;
			letter-spacing: 2px;
			color: darken($color-white, 0%);
			transition: color 0.1s ease-in-out;

			&.is-selected {
				filter: drop-shadow(0 0 10px $color-white);
			}

			.menu-icon {
				position: relative;
				display: inline-block;
				margin-right: 20px;

				&:after {
					content: '';
					display: block;
					position: absolute;
					top: 50%;
					left: 50%;
					transform: translate(-50%, -50%);
					width: 60px;
					height: 60px;
					border-radius: 50%;
					border: 2px solid darken($color-white, 0%);
					transition: border-color 0.1s ease-in-out;
				}

				img {
					display: block;
				}

				&.resume-icon {
					&:after {
						transform: translate(-55%, -50%);
					}
				}
			}
		}
	}

	@include breakpoint($vertical-medium) {
		ul {
			li {
				list-style: none;
				transform: translateX(-300px);
				transition: transform 0.7s 0s $snap;

				@include breakpoint($bp-medium) {
					height: 100px;
				}

				a {
					padding-left: 50px;
				}
			}
		}
	}
}
