.menu_items {
	position: fixed;
	display: block;
	margin: 0;
	padding: 0 15px;
	bottom: 100px;
	width: 400px;

	ul {
		margin: 0;
		padding: 0px;

		li {
			height: 70px;
			margin-bottom: 30px;
			list-style: none;
			transform: translateX(-300px);
			transition: transform 0.7s 0s $snap;
			cursor: pointer;

			&:nth-child(2) {
				margin-left: 30px;
			}
			&:nth-child(3) {
				margin-left: 60px;
				margin-bottom: 0px;
			}

			&:hover {
				.menu-item {
					color: darken($color-white, 70%);

					.menu-icon {
						&:after {
							border-color: darken($color-white, 70%);
							filter: drop-shadow(0px 5px 7px rgba(255, 255, 255, 0.5));
						}
					}

					&.is-selected {
						filter: drop-shadow(0px 0px 20px white);
	
						.menu-icon {
							&:after {
								filter: none;
							}
						}
					}
				}
			}
			
			&:active {
				.menu-icon {
					color: $transparent;
				}
			}
		}

		.menu-item {
			display: block;
			position: absolute;
			left: 0;
			top: 0;
			height: 100%;
			width: auto;
			transform: translate(12px, 12px);
			text-decoration: none;
			text-transform: uppercase;
			letter-spacing: 2px;
			color: darken($color-white, 0%);
			transition: color .1s ease-in-out;

			&.is-selected {
				filter: drop-shadow(0px 0px 10px rgb(255, 255, 255));
			}

			.menu-icon {
				position: relative;
				display: inline-block;
				margin-right: 20px;

				&:after {
					content: '';
					display: block;
					position: absolute;
					top: 50%;
					left: 50%;
					transform: translate(-50%, -50%);
					width: 60px;
					height: 60px;
					border-radius: 50%;
					border: 2px solid darken($color-white, 0%);
					transition: border-color .1s ease-in-out;
				}

				img {
					display: block;
				}

				&.resume-icon {
					&:after {
						transform: translate(-55%, -50%);
					}
				}
			}
		}
	}

	@include breakpoint ($vertical-small) {
		bottom: 150px;
	}

	@include breakpoint ($vertical-medium) {
		bottom: 175px;
		padding: 0 25px;

		ul {
			li {
				height: 85px;
				margin-bottom: 30px;
				list-style: none;
				transform: translateX(-300px);
				transition: transform 0.7s 0s $snap;

				&:nth-child(2) {
					margin-left: 30px;
				}
				&:nth-child(3) {
					margin-left: 60px;
					margin-bottom: 0px;
				}
			}
		}
	}
}