.icon-container {
	position: fixed;
	width: 100%;
	bottom: 0;
	display: flex;
	flex-direction: row;
	justify-content: center;
	z-index: 1;
	padding: 0 10px;
	transition: all .1s ease-in-out;

	a {
		margin: 15px auto;
		padding: 0 4px;
		
		&:hover {
			filter: drop-shadow(0px 5px 10px darken($color-white, 80%));
			transform: scale(1.1);
		}
	}

	@include breakpoint ($bp-small) {
		padding-left: 30px;
		justify-content: flex-start;

		a {
			margin: 15px;
		}
	}
}