.about-page {
	overflow: auto;

	.glass-container {
		background: rgba(255, 255, 255, 0.4);
		box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
		backdrop-filter: blur(13.5px);
		-webkit-backdrop-filter: blur(13.5px);
		border-radius: 10px;
		border: 1px solid rgba(255, 255, 255, 0.18);
		height: min-content;
		padding: 20px;
		display: block;
		position: relative;
		z-index: 1;

		@include breakpoint($bp-medium) {
			position: absolute;
			top: 50%;
			left: 50%;
		}
	}

	.floating-glass {
		padding: 60px;
		display: none;

		@include breakpoint($bp-medium) {
			display: block;
		}

		&.glass-1 {
			transform: translate(-50px, -360px);
			z-index: 2;
		}

		&.glass-2 {
			transform: translate(-590px, 200px);
			z-index: 0;
			padding: 90px;
		}

		&.glass-3 {
			transform: translate(140px, 200px);
			z-index: 2;
			padding: 30px;
		}

		&.glass-4 {
			transform: translate(380px, 20px);
			z-index: 2;
		}

		&.glass-5 {
			transform: translate(-590px, -370px);
			z-index: 0;
			padding: 120px;
		}
	}

	.about-container {
		width: 100%;
		margin: 5%;
		border: 1px solid $color-white;

		@include breakpoint($bp-medium) {
			border: none;
			width: 500px;
			transform: translate(-500px, -300px);
		}

		p {
			font-size: 20px;
		}
	}

	.skills-container-mobile {
		display: table;
		width: auto;
		text-align: left;
		border: 1px solid $color-white;
		border-radius: 19px;
		padding-bottom: 20px;
		margin: auto;

		@include breakpoint($bp-medium) {
			display: none;
		}

		.title {
			text-align: center;
		}
	}

	.skills-list-mobile {
		p {
			font-size: 20px;
			margin: 0;
		}

		.skills-list {
			text-align: left;
			display: flex;
			justify-content: center;
		}

		ul {
			margin: 0;
		}
	}

	.skills-container {
		width: 100%;
		display: none;

		@include breakpoint($bp-medium) {
			display: block;
			width: 230px;
			transform: translate(200px, -70px);
		}

		p {
			font-size: 20px;
			margin: 0;
		}

		.skills-list {
			text-align: left;
			display: flex;
			justify-content: center;
		}

		ul {
			margin: 0;
		}
	}
}
