.about-page {
	overflow: auto;

	.about-canvas {
		canvas {
			display: block;
			height: 100vh !important;
			width: 100vw !important;
			outline: none;
		}
	}

	.glass-container {
		background: $color-bg-gradient-opacity;
		// background: rgba($color-white, 0.6);
		color: $color-white;
		// box-shadow: inset 0 8px 32px 0 rgba(31, 38, 135, 0.37);
		// backdrop-filter: blur(13.5px);
		// -webkit-backdrop-filter: blur(13.5px);
		border-radius: 10px;
		// border: 1px solid rgba(255, 255, 255, 0.18);
		// border: none;
		display: block;
		position: relative;
		max-height: 0;
		user-select: none;
		overflow: hidden;
		z-index: 1;

		@include breakpoint($bp-medium) {
			position: absolute;
			top: 50%;
			left: 50%;
		}

		.title {
			text-align: center;
			margin-top: 0;
		}
	}

	.floating-glass {
		padding: 60px;
		display: none;

		@include breakpoint($bp-medium) {
			display: block;
		}

		&.glass-1 {
			transform: translate(-50px, -360px);
			z-index: 2;
		}

		&.glass-2 {
			transform: translate(-590px, 200px);
			z-index: 0;
			padding: 90px;
		}

		&.glass-3 {
			transform: translate(140px, 200px);
			z-index: 2;
			padding: 30px;
		}

		&.glass-4 {
			transform: translate(380px, 20px);
			z-index: 2;
		}

		&.glass-5 {
			transform: translate(-590px, -370px);
			z-index: 0;
			padding: 120px;
		}
	}

	.about-container {
		width: 100%;
		margin: 5%;

		@include breakpoint($bp-medium) {
			width: 700px;
			transform: translate(-500px, -200px);
		}

		p {
			font-size: 20px;
			font-weight: 700;
		}
		
		.text {
			text-indent: 2em;
		}

		.tab-info-flex {
			display: flex;
			flex-direction: row;

			.strong {
				font-weight: 900;
				margin-right: 8px;
				white-space: nowrap;
				margin-top: 0;
			}

			.location {
				margin-left: 5px;
				margin-top: 0;
			}
		}

		&.open-glass {
			max-height: 600px;
			padding: 20px 30px;
			transition: max-height 0.5s ease-in;
		}
	}

	.skills-container {
		width: 100%;

		&.open-glass {
			max-height: 600px;
			transition: max-height 0.5s ease-in;
			padding: 30px 20px;
		}

		@include breakpoint($bp-medium) {
			display: block;
			width: 230px;
			transform: translate(250px, -285px);
		}

		p {
			font-size: 20px;
			margin: 0;
		}

		.skills-list {
			text-align: left;
			display: flex;
			justify-content: center;
		}

		ul {
			margin: 0;
		}
	}
}
