.home-page {
	background: $color-bg--home;

	.container {
		display: inline-flex;
		justify-content: space-evenly;
		flex-direction: row;
		flex-wrap: wrap;
		align-content: center;
		border: none;
		width: 100%;

		.item {
			width: 25%;
			position: relative;
			padding: 12px;
			cursor: auto;
			display: flex;
			align-items: center;
			flex-grow: 1;
			flex-shrink: 1;
			min-height: 150px;

			@include breakpoint($bp-large) {
				padding: 15px;
			}
		}

		.item-mobile-break {
			min-height: auto;
			width: 100%;

			.item__border {
				display: flex;
				padding: 0;
			}

			.item__image {
				width: 45%;
			}

			@include breakpoint($bp-medium) {
				width: 25%;

				.item__border {
					display: block;
					padding: 30px 0;
				}

				.item__image {
					width: 100%;
				}
			}
		}

		.neonText {
			display: block;

			h1 {
				height: 100%;
				width: 100%;
				position: absolute;
				display: flex;
				justify-content: center;
				align-items: center;
				margin: 0;
				color: $color-white;
				font-family: $font-family-script, sans-serif;
				// text-shadow: 0 0 7px #fff, 0 0 10px #fff, 0 0 21px #fff, 0 0 42px $color-bg-pink-neon, 0 0 82px $color-bg-pink-neon, 0 0 92px $color-bg-pink-neon, 0 0 102px $color-bg-pink-neon, 0 0 151px $color-bg-pink-neon;
				// animation: pulsate 2s infinite alternate;
				text-align: center;
				font-size: 35px;
				font-weight: 400;
				padding: 30px 0;

				@include breakpoint($bp-small) {
					font-size: 50px;
				}

				@include breakpoint($bp-medium) {
					font-size: 80px;
				}

				@include breakpoint($bp-large) {
					font-size: 90px;
				}

				@include breakpoint($bp-xlarge) {
					font-size: 110px;
				}

				@include breakpoint($bp-xxlarge) {
					font-size: 135px;
				}
			}

			@keyframes pulsate {
				100% {
					text-shadow: 0 0 4px #fff, 0 0 11px #fff, 0 0 19px #fff, 0 0 40px $color-bg-pink-neon, 0 0 80px $color-bg-pink-neon, 0 0 90px $color-bg-pink-neon,
						0 0 100px $color-bg-pink-neon, 0 0 150px $color-bg-pink-neon;
				}

				0% {
					text-shadow: 0 0 2px #fff, 0 0 4px #fff, 0 0 6px #fff, 0 0 10px $color-bg-pink-neon, 0 0 45px $color-bg-pink-neon, 0 0 55px $color-bg-pink-neon,
						0 0 70px $color-bg-pink-neon, 0 0 80px $color-bg-pink-neon;
				}
			}
		}

		.double-item {
			width: 100%;
			// min-width: 340px;
			position: relative;
			display: flex;
			height: auto;
			flex-direction: row;
			justify-content: center;
			flex-grow: 1;
			flex-shrink: 1;
			overflow: visible;

			@include breakpoint($bp-medium) {
				flex-direction: column;
				width: 25%;
			}

			.item {
				width: 100%;

				.item__border {
					padding: 0;
				}

				.large {
					width: 66%;
				}
			}

			.item__clock {
				display: none;
				width: 23.995vw;
				height: 23.995vw;
				max-height: 460px;
				max-width: 460px;
				padding: 5%;
				margin: auto;

				@include breakpoint($bp-large) {
					display: block;
				}

				@include breakpoint($bp-xxlarge) {
					max-height: 600px;
					max-width: 600px;
				}
			}

			@include breakpoint($bp-large) {
				&.top-row {
					flex-direction: row;
					width: 100%;

					.medium {
						width: 45%;
					}
				}
			}
		}

		.double-item-clock {
			width: 100%;

			@include breakpoint($bp-large) {
				width: 25%;
			}
		}

		.small {
			width: 15%;
		}

		.medium {
			width: 33%;
		}

		.item__border {
			position: relative;
			box-shadow: 5px 5px 15px $color-bg-pink-border-dark, -5px -5px 15px $color-bg-pink-border-light;
			border: 4px solid $color-bg-pink-border;
			transition: transform 150ms ease-in-out, border 150ms ease-in-out, box-shadow 150ms ease-in-out, border-radius 150ms ease-in-out;
			padding: 30px 0;
			border-radius: 19px;
			background: linear-gradient(145deg, $color-bg-pink, $color-bg-blue);
			overflow: hidden;
			cursor: pointer;
			width: 100%;
			height: 100%;
		}

		.item__image {
			width: 100%;
			border-radius: 14px;
			z-index: 1;
			position: relative;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);

			&.add-padding {
				padding: 0 20px;
			}

			&.about-padding {
				padding: 17px 20px;

				@include breakpoint($bp-medium) {
					padding: 40px 67px;
				}

				@include breakpoint($bp-large) {
					padding: 39px 44px;
				}

				@include breakpoint($bp-xxlarge) {
					padding: 40px 67px;
				}

				@include breakpoint($bp-xxxlarge) {
					padding: 39px 78px;
				}
			}
		}

		.item__image.hover-image {
			position: absolute;
			height: 100%;
			width: 100%;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			opacity: 0;
			transition: opacity 500ms ease-in-out;
			visibility: hidden;
			border: 2px solid $color-bg-pink-border-inset;
			border-radius: 15px;
		}

		.item:hover .item__border {
			box-shadow: 15px 15px 30px $color-bg-pink-border-dark, -15px -15px 30px $color-bg-pink-border-light;
			transform: scale(1.06);
		}

		.item:hover .item__image.hover-image {
			position: absolute;
			z-index: -1;
			opacity: 1;
			visibility: visible;
		}

		.item:hover .item__image.invert-on-hover {
			filter: invert(1);
		}

		.item.is-welcome-item {
			width: 75%;
			min-height: 300px;

			@include breakpoint($bp-medium) {
				min-height: 500px;
			}

			@include breakpoint($bp-large) {
				width: 50%;
			}

			.item__border {
				cursor: auto;
				background: $color-bg-pink-center-bg;
				box-shadow: inset 22px 22px 44px $color-bg-pink-center-bg-dark, inset -22px -22px 44px $color-bg-pink-center-bg-light;
				display: flex;
			}
		}

		.inset-text {
			color: $color-bg-pink-center-text;
			width: 100%;
			text-align: left;
			padding: 5px 25px;
			font-weight: bold;
			text-shadow: 1px 3px 6px $color-bg-pink-center-text-dark, -1px -3px 6px $color-bg-pink-center-text-light;
			transform: scale(1.01);
			position: relative;
			transition: all 150ms ease-in-out;
			display: flex;
			flex-direction: column;
			justify-content: flex-end;

			@include breakpoint($bp-medium) {
				padding: 20px 50px;
			}

			#name {
				p {
					font-size: 40px;
					margin: 0;
					line-height: 45px;

					@include breakpoint($bp-medium) {
						line-height: 65px;
						font-size: 70px;
					}

					@include breakpoint($bp-large) {
						line-height: 55px;
						font-size: 60px;
					}

					@include breakpoint($bp-xlarge) {
						line-height: 65px;
						font-size: 70px;
					}
				}
			}

			#occupation {
				display: flex;
				flex-wrap: wrap;
				margin-top: 10px;

				@include breakpoint($bp-medium) {
					margin-top: 20px;
				}

				p {
					font-size: 30px;
					margin: 0;
					margin-right: 10px;
					white-space: nowrap;

					@include breakpoint($bp-medium) {
						font-size: 45px;
					}
				}
			}
		}

		.item.is-welcome-item:hover .item__border {
			transform: scale(1);
			box-shadow: inset 26px 26px 52px $color-bg-pink-center-bg-dark-hover, inset -26px -26px 52px $color-bg-pink-center-bg-light-hover;

			.inset-text {
				text-shadow: 1px 3px 8px $color-bg-pink-center-text-dark, -1px -3px 8px $color-bg-pink-border-light;
				transform: scale(1);
			}
		}
	}
}
