.projects-page {
	background: $color-bg--projects;

	.container {
		max-width: $projects-max-width;
	}

	.tab-switch-message {
		font-size: 16px;

		@include breakpoint($bp-xlarge) {
			font-size: 24px;
		}
	}

	.display-item-panel {
		display: flex;
		flex-direction: column-reverse;
		text-align: left;
		align-items: center;

		@include breakpoint($bp-xlarge) {
			flex-direction: row;
			align-items: normal;
		}

		p {
			margin-top: 0;
			font-size: 14px;

			@include breakpoint($bp-xlarge) {
				font-size: 17px;
			}

			@include breakpoint($bp-xxlarge) {
				font-size: 20px;
			}
		}

		.strong {
			font-weight: 900;
			margin-right: 8px;
			white-space: nowrap;
			margin-bottom: 6px;
		}

		.link {
			color: $color-white;
			font-size: 14px;

			@include breakpoint($bp-xlarge) {
				font-size: 17px;
			}

			@include breakpoint($bp-xxlarge) {
				font-size: 20px;
			}
		}

		.tab-info {
			display: none;
		}

		&.has-no-tab-info {
			.display-item {
				margin: 0;
				height: auto;

				@include breakpoint($bp-xlarge) {
					max-width: none;
				}
			}
		}

		&.has-tab-info {
			.display-item {
				margin: 0;
				height: auto;

				@include breakpoint($bp-xlarge) {
					max-width: none;
				}
			}

			.tab-info {
				display: flex;
				justify-content: space-around;
				flex-direction: column;
				height: auto;
				margin: 30px 0 0 0;
				padding: 3vh 2vh;

				@include breakpoint($bp-large) {
					padding: 20px;
				}

				@include breakpoint($bp-xxlarge) {
					padding: 30px;
				}

				@include breakpoint($bp-xxxlarge) {
					justify-content: start;
				}

				p {
					white-space: nowrap;
				}

				& > .tab-info-details {
					display: flex;
					flex-direction: column;
					width: 100%;

					@include breakpoint($bp-small) {
						flex-direction: row;
					}

					@include breakpoint($bp-xlarge) {
						flex-direction: column;
					}

					@include breakpoint($bp-xxxlarge) {
						margin-top: 30px;
					}

					.tab-info-columns {
						display: block;
						width: 50%;
						margin-bottom: 10px;
					}
				}

				& > div:last-of-type {
					margin-top: 10px;

					p {
						white-space: break-spaces;
						margin: 0;
						font-size: 18px;
						font-weight: 600;

						@include breakpoint($bp-xlarge) {
							font-size: 19px;
						}

						@include breakpoint($bp-xxlarge) {
							font-size: 22px;
						}
					}

					@include breakpoint($bp-xxxlarge) {
						margin-top: 50px;
						line-height: 1.5;
					}
				}

				@include breakpoint($bp-xlarge) {
					flex-direction: column;
					margin: 0 15px 0 0;
					flex-basis: 45%;
				}

				@include breakpoint($bp-xxlarge) {
					min-width: 400px;
				}

				.tab-info-name {
					margin-top: 0;
					font-size: 20px;

					@include breakpoint($bp-large) {
						font-size: 22px;
					}

					@include breakpoint($bp-xlarge) {
						font-size: 25px;
					}

					@include breakpoint($bp-xxlarge) {
						font-size: 28px;
					}
				}

				.tab-info-flex {
					display: flex;
					flex-wrap: wrap;

					&.no-title {
						display: none;
					}
				}
			}
		}
	}

	.tab-switch-message {
		margin-top: 0;
	}

	.tab-switch-container {
		display: flex;
		flex-direction: row;
		padding-bottom: 15px;
		flex-wrap: wrap;

		.item {
			padding: 10px;
			display: flex;
			flex-direction: column;
			flex-basis: 50%;
		}

		@include breakpoint($bp-large) {
			.item {
				padding: 12px;
				flex-basis: min-content;
			}
		}
	}

	.display-item {
		padding: 2vh;

		@include breakpoint($bp-large) {
			padding: 20px;
		}

		@include breakpoint($bp-xxlarge) {
			padding: 30px;
		}
	}

	.item {
		width: 25%;
		position: relative;
		padding: 12px;
		cursor: auto;
		display: flex;
		align-items: center;
		flex-grow: 1;
		flex-shrink: 1;
		min-height: 100px;

		@include breakpoint($bp-large) {
			min-height: 150px;
			padding: 15px;
		}

		.duration {
			margin-bottom: 0;
			font-size: 14px;

			@include breakpoint($bp-xlarge) {
				font-size: 18px;
			}

			@include breakpoint($bp-xxxlarge) {
				font-size: 20px;
			}
		}
	}

	.small {
		width: 15%;
	}

	.medium {
		width: 33%;
	}

	.item__border {
		position: relative;
		box-shadow: 5px 5px 15px $color-bg-pink-border-dark, -5px -5px 15px $color-bg-pink-border-light;
		border: 4px solid $color-bg-pink-border;
		transition: transform 250ms ease-in-out, border 250ms ease-in-out, box-shadow 250ms ease-in-out, border-radius 250ms ease-in-out;
		padding: 20px 0;
		border-radius: 19px;
		background: linear-gradient(145deg, $color-bg-pink, $color-bg-blue);
		overflow: hidden;
		cursor: pointer;
		width: 100%;
		height: 100%;
		color: inherit; /* blue colors for links too */
		text-decoration: inherit; /* no underline */

		@include breakpoint($bp-xlarge) {
			padding: 30px 0;
		}
	}

	.item__thumbnail {
		width: 100%;
		height: 100%;
		min-height: 150px;
		display: flex;
		justify-content: center;
		align-items: center;

		&.overview {
			.item__image {
				width: 100%;
				border-radius: 14px;
				z-index: 1;
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -70%);
			}

			.add-padding {
				padding: 0 15px;

				@include breakpoint($bp-medium) {
					padding: 0 30px;
				}

				@include breakpoint($bp-large) {
					padding: 0 40px;
				}

				@include breakpoint($bp-xxlarge) {
					padding: 0 90px;
				}

				@include breakpoint($bp-xxxlarge) {
					padding: 0 120px;
					max-width: 500px;
				}
			}

			.item__hover__image {
				height: 100%;
				width: 100%;
				position: absolute;
				z-index: 0;
				border: 2px solid $color-bg-pink-border-inset;
				border-radius: 14px;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
			}

			.item__title {
				z-index: 1;
				position: absolute;
				font-weight: 900;
				top: 50%;
				left: 50%;
				font-size: 14px;
				transform: translate(-50%, 0%);

				@include breakpoint($bp-small) {
					font-size: 18px;
				}

				@include breakpoint($bp-large) {
					font-size: 22px;
				}

				@include breakpoint($bp-xxlarge) {
					font-size: 25px;
				}
			}
		}
	}

	.item__image {
		width: 100%;
		border-radius: 14px;
		z-index: 1;
		position: relative;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}

	.add-padding {
		padding: 0 10px;

		@include breakpoint($bp-large) {
			padding: 0 30px;
		}
	}

	.item__image.hover-image {
		position: absolute;
		height: 100%;
		width: 100%;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		opacity: 0;
		transition: opacity 500ms ease-in-out;
		visibility: hidden;
		border: 2px solid $color-bg-pink-border-inset;
		border-radius: 15px;
	}

	.item--selected {
		&.item .item__border {
			// background: green;
			box-shadow: 15px 15px 30px $color-bg-pink-border-dark, -15px -15px 30px $color-bg-pink-border-light;
			transform: scale(1.06);

			.invert-on-hover {
				filter: drop-shadow(0 0 15px $color-white) hue-rotate(142deg);
			}

			.blur-on-hover {
				filter: blur(8px);
				opacity: 0.3 !important;
			}
		}

		&.item .item__image.hover-image {
			position: absolute;
			z-index: -1;
			opacity: 1;
			visibility: visible;
		}
	}

	.item:hover .item__border {
		box-shadow: 15px 15px 30px $color-bg-pink-border-dark, -15px -15px 30px $color-bg-pink-border-light;
		transform: scale(1.06);

		.invert-on-hover {
			filter: drop-shadow(0 0 15px $color-white) hue-rotate(142deg);
		}

		.blur-on-hover {
			filter: blur(8px);
			opacity: 0.3 !important;
		}
	}

	.item:hover .item__image.hover-image {
		position: absolute;
		z-index: -1;
		opacity: 1;
		visibility: visible;
	}
}
