.projects-page {
	background: $color-bg--projects;

	&:before {
		content: ' ';
		display: block;
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		background-repeat: no-repeat;
		background-position: 50% 0;
		background-size: cover;

		opacity: 0.03;
		background-image: url('../../../public/background-transparent-3.jpeg');
		filter: invert(100%);
	}

	.projects-content {
		display: block;
		width: 100%;
	}

	.container {
		max-width: $projects-max-width;
	}

	.tab-switch-message {
		font-size: 16px;

		@include breakpoint($bp-xlarge) {
			font-size: 24px;
		}
	}

	.display-item-panel {
		display: flex;
		flex-direction: column;
		text-align: left;
		align-items: center;

		@include breakpoint($bp-xlarge) {
			flex-direction: row;
			align-items: normal;
		}

		p {
			margin-top: 0;
			font-size: 14px;

			@include breakpoint($bp-xxlarge) {
				font-size: 16px;
			}

			@include breakpoint($bp-xxxlarge) {
				font-size: 20px;
			}
		}

		.strong {
			font-weight: 900;
			margin-right: 8px;
			white-space: nowrap;
			margin-bottom: 6px;
		}

		.link {
			color: $color-white;
			font-size: 14px;

			@include breakpoint($bp-xlarge) {
				font-size: 17px;
			}

			@include breakpoint($bp-xxlarge) {
				font-size: 20px;
			}
		}

		.tab-info {
			display: none;
		}

		&.has-no-tab-info {
			.display-item {
				margin: 0;
				height: auto;

				@include breakpoint($bp-xlarge) {
					max-width: none;
				}
			}
		}

		&.has-tab-info {
			.display-item {
				margin: 0;
				height: auto;

				@include breakpoint($bp-xlarge) {
					max-width: none;
				}
			}

			.tab-info {
				display: flex;
				justify-content: flex-start;
				flex-direction: column;
				height: auto;
				margin: 0 0 30px 0;
				padding: 20px;

				@include breakpoint($bp-xxlarge) {
					padding: 30px;
				}

				p {
					white-space: nowrap;
				}

				& > .tab-info-details {
					display: flex;
					flex-direction: column;
					width: 100%;
					margin-bottom: 10px;

					@include breakpoint($bp-small) {
						flex-direction: row;
					}

					@include breakpoint($bp-xlarge) {
						margin-bottom: 0;
						flex-direction: column;
					}

					.tab-info-columns {
						display: block;
						width: 50%;

						@include breakpoint($bp-xlarge) {
							width: auto;
						}
					}
				}

				& > div:last-of-type {
					@include breakpoint($bp-xlarge) {
						margin-top: 1.5em;
						line-height: 1.35;
					}

					@include breakpoint($bp-xxlarge) {
						margin-top: 2em;
					}

					@include breakpoint($bp-xxxlarge) {
						margin-top: 3em;
					}

					p {
						white-space: break-spaces;
						margin: 0;
						color: #bcbcbc;
					}
				}

				@include breakpoint($bp-xlarge) {
					flex-direction: column;
					margin: 0 15px 0 0;
					flex-basis: 45%;
				}

				@include breakpoint($bp-xxlarge) {
					min-width: 400px;
				}

				.tab-info-name {
					font-weight: 900;
					font-size: 20px;
					margin-top: 0;
					margin-bottom: 1.5em;

					@include breakpoint($bp-large) {
						font-size: 22px;
					}

					@include breakpoint($bp-xlarge) {
						font-size: 24px;
					}

					@include breakpoint($bp-xxlarge) {
						font-size: 28px;
					}
				}

				.tab-info-flex {
					display: flex;
					flex-wrap: wrap;

					&.no-title {
						display: none;
					}
				}
			}
		}
	}

	.tab-switch-message {
		margin-top: 0;
	}

	.tab-switch-container {
		display: flex;
		flex-direction: row;
		padding-bottom: 15px;
		flex-wrap: wrap;

		.item {
			padding: 10px;
			display: flex;
			flex-direction: column;
			flex-basis: 50%;
		}

		@include breakpoint($bp-medium) {
			.item {
				flex-basis: auto;
			}
		}
		@include breakpoint($bp-large) {
			.item {
				padding: 12px;
			}
		}
	}

	.display-item {
		max-width: none;
		padding: 2vh;

		@include breakpoint($bp-large) {
			padding: 20px;
		}

		@include breakpoint($bp-xxlarge) {
			padding: 30px;
		}

		.react-player {
			border-radius: 19px;
			box-shadow: 3px 3px 13px $color-bg-pink-border-dark, -3px -3px 13px $color-bg-pink-border-light;
			border: 1px solid $color-bg-pink-border;
			overflow: hidden;
		}
	}

	.item {
		width: 25%;
		position: relative;
		padding: 12px;
		cursor: auto;
		display: flex;
		align-items: center;
		flex-grow: 1;
		flex-shrink: 1;
		min-height: 100px;

		@include breakpoint($bp-large) {
			min-height: 150px;
			padding: 15px;
		}

		@keyframes slideInFromLeft {
			0% {
				margin-top: -1em;
			}
			100% {
				margin-top: 1em;
			}
		}

		.duration {
			margin-bottom: 0;
			font-size: 14px;
			animation: 1s ease-out 0s 1 slideInFromLeft;

			@include breakpoint($bp-medium) {
				// position: absolute;
				// bottom: 25px;
			}

			@include breakpoint($bp-xlarge) {
				font-size: 18px;
			}

			@include breakpoint($bp-xxxlarge) {
				font-size: 20px;
			}
		}
	}

	.small {
		width: 15%;
	}

	.quarter {
		width: 25%;
	}

	.medium {
		width: 33%;
	}

	.item__border {
		position: sticky;
		box-shadow: 5px 5px 15px $color-bg-pink-border-dark, -5px -5px 15px $color-bg-pink-border-light;
		border: 4px solid $color-bg-pink-border;
		transition: transform 150ms ease-in-out, border 150ms ease-in-out, box-shadow 150ms ease-in-out, border-radius 150ms ease-in-out;
		padding: 10px 0;
		border-radius: 19px;
		background: linear-gradient(145deg, $color-bg-pink, $color-bg-blue);
		overflow: hidden;
		cursor: pointer;
		width: 100%;
		height: 100%;
		color: inherit; /* blue colors for links too */
		text-decoration: inherit; /* no underline */

		@include breakpoint($bp-xlarge) {
			padding: 5px 0;
		}
	}

	.item__thumbnail {
		width: 100%;
		height: 100%;
		min-height: 100px;
		display: flex;
		justify-content: center;
		align-items: center;

		@include breakpoint($bp-xlarge) {
			min-height: 150px;
		}

		&.normal {
			.item__background__image {
				width: 100%;
				height: 100%;
				position: absolute;
				z-index: 0;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				opacity: 0.7;

				&.is-feature {
					opacity: 0.2;
					// height: 100%;
					width: auto;
					max-width: 95%;
					max-height: 90%;
				}

				@include breakpoint($bp-xxlarge) {
					height: auto;
				}
			}

			.item__title {
				text-shadow: 0 4px 14px $color-white;
				// filter: drop-shadow(0 6px 8px $color-black);
			}
		}

		&.overview {
			.item__image {
				width: 100%;
				border-radius: 14px;
				z-index: 1;
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -70%);

				@include breakpoint($bp-xxxlarge) {
					transform: translate(-50%, -60%);
				}
			}

			.add-padding {
				padding: 0 15px;

				@include breakpoint($bp-small) {
					padding: 0 45px;
				}

				@include breakpoint($bp-medium) {
					padding: 0 30px;
				}

				@include breakpoint($bp-large) {
					padding: 0 20px;
				}

				@include breakpoint($bp-xlarge) {
					padding: 0 40px;
				}

				@include breakpoint($bp-xxlarge) {
					padding: 0 60px;
				}

				@include breakpoint($bp-xxxlarge) {
					padding: 0 80px;
					max-width: 450px;
				}
			}

			.logo-extra-padding {
				max-height: 62%;

				@include breakpoint($bp-medium) {
					width: 90%;
				}
			}

			.item__hover__image {
				height: 100%;
				width: 100%;
				position: absolute;
				z-index: 0;
				border: 2px solid $color-bg-pink-border-inset;
				border-radius: 14px;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				opacity: 0.8;
			}

			.item__title {
				z-index: 1;
				position: absolute;
				font-weight: 900;
				top: 50%;
				left: 50%;
				font-size: 14px;
				transform: translate(-50%, 0%);

				@include breakpoint($bp-small) {
					font-size: 18px;
				}

				@include breakpoint($bp-large) {
					font-size: 16px;
				}

				@include breakpoint($bp-xlarge) {
					font-size: 22px;
				}

				@include breakpoint($bp-xxlarge) {
					font-size: 25px;
				}
			}

			.item__title__thumbnail__name {
				margin: 0;
				top: auto;
				bottom: 10px;

				@include breakpoint($bp-large) {
					bottom: 20px;
				}

				@include breakpoint($bp-xxxlarge) {
					bottom: 10px;
				}
			}
		}
	}

	.item__image {
		width: 100%;
		border-radius: 14px;
		z-index: 1;
		position: relative;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}

	.add-padding {
		padding: 0 10px;

		@include breakpoint($bp-large) {
			padding: 0 30px;
		}
	}

	.back-drop {
		filter: drop-shadow(0 4px 8px #ffffff);
	}

	.back-drop-strong {
		filter: drop-shadow(0 0 26px #ffffff);
	}

	.blur {
		filter: blur(8px);
		opacity: 0.3 !important;
	}

	.subvrsive-hover-thumbnails {
		height: auto !important;
		opacity: 0.5 !important;
	}

	.item__image.hover-image {
		position: absolute;
		// height: 100%;
		width: 100%;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		opacity: 0;
		transition: opacity 500ms ease-in-out;
		visibility: hidden;
		border: 2px solid $color-bg-pink-border-inset;
		border-radius: 15px;
	}

	.category--selected {
		&.item .item__border {
			box-shadow: 15px 15px 30px $color-bg-pink-border-dark, -15px -15px 30px $color-bg-pink-border-light;
			transform: scale(1);

			.invert-on-hover {
				filter: drop-shadow(0 0 15px $color-white) hue-rotate(142deg);
			}

			.back-drop-strong-on-hover {
				filter: drop-shadow(0 0 26px #ffffff);
			}

			.back-drop-stronger-on-hover {
				filter: drop-shadow(0 0 16px #ffffff);
			}

			.back-drop {
				filter: drop-shadow(0 4px 8px #ffffff);
			}

			.blur-on-hover {
				filter: blur(8px);
				opacity: 0.3 !important;
			}

			.blur-on-hover-low {
				filter: blur(2px);
				opacity: 0.5 !important;
			}

			.blur-on-hover-strong {
				filter: drop-shadow(0 0 26px #ffffff);
			}
		}

		&.item .item__image.hover-image {
			position: absolute;
			z-index: -1;
			opacity: 1;
			visibility: visible;
		}
	}

	.item:hover .item__border {
		box-shadow: 15px 15px 30px $color-bg-pink-border-dark, -15px -15px 30px $color-bg-pink-border-light;
		transform: scale(1.06);

		.invert-on-hover {
			filter: drop-shadow(0 0 15px $color-white) hue-rotate(142deg);
		}

		.back-drop-strong-on-hover {
			filter: drop-shadow(0 0 26px #ffffff);
		}

		.back-drop-stronger-on-hover {
			filter: drop-shadow(0 0 16px #ffffff);
		}

		.back-drop {
			filter: drop-shadow(0 4px 8px #ffffff);
		}

		.blur-on-hover {
			filter: blur(8px);
			opacity: 0.3 !important;
		}

		.blur-on-hover-low {
			filter: blur(2px);
			opacity: 0.5 !important;
		}
	}

	.item:hover .item__image.hover-image {
		position: absolute;
		z-index: -1;
		opacity: 1;
		visibility: visible;
	}
}
