// mobile sizes
$bp-small: 450px;
$bp-medium: 750px;
// desktop sizes
$bp-large: 1000px;
$bp-xlarge: 1200px;
$bp-xxlarge: 1600px;
$bp-xxxlarge: 1800px;

$vertical-xsmall: 'max-height' 500px;
$vertical-small: 'min-height' 700px;
$vertical-medium: 'min-height' 850px;
$vertical-large: 'min-height' 1300px;

$max-width: 2100px;
