$transparent: transparent;
$color-white: #ffffff;
$color-black: #000000;
$color-bg-pink: #e67070;
$color-bg-pink-neon: #ff4290;
$color-bg-blue: #9090e4;
$color-bg-gradient: linear-gradient(90deg, $color-bg-pink, $color-bg-blue);

$color-about: #2C5B8B;
$color-projects: #FF7F7F;
