@import '1-settings/fonts';
@import '1-settings/colors';
@import '1-settings/breakpoints';
@import '2-tools/breakpoint-sass';
@import '2-tools/variables';
@import '3-base/misc';
@import '4-components/_menu/menu-toggle';
@import '4-components/_menu/menu-items';
@import '4-components/_menu/menu-is-opened';
@import '4-components/icons';
@import '4-components/clock';
@import '4-components/page';
@import '4-components/display-item';
@import '4-components/display-items-container';
@import '5-pages/home';
@import '5-pages/about';
@import '5-pages/art';
@import '5-pages/projects';
@import '5-pages/blender';

.main {
	height: 100%;
	background-color: $color-black;
	overflow: hidden;
	display: block;
}

.content {
	// essential
	height: 200%; // make higher or you'll see background when rotated
	transform-origin: top left;
	transition: transform 0.7s $snap;

	.content_inner {
		// essential
		height: 100vh; // compensate for higher .content
		overflow-y: hidden; // set expected overflow

		.bg-canvas {
			display: contents;

			canvas {
				display: block;
				outline: none;
				background: $color-black;
				transition: background 0.9s ease-in-out;
				z-index: $z-Index-canvas;
			}
		}
	}
}

.stats {
	left: auto !important;
	right: 0 !important;
	top: auto !important;
	bottom: 0 !important;
}

#LastFrame {
	position: absolute;
	left: auto !important;
	right: 0 !important;
	top: auto !important;
	bottom: 100px !important;
}

.nav-link {
	display: contents;
}

.display-contents {
	display: contents;
}

.display-item-video {
	position: relative;
	padding-top: 56.25%; /* Player ratio: 100 / (1280 / 720) */
}

.react-player {
	position: absolute;
	top: 0;
	left: 0;
}

.--special-aspect {
		width: 100% !important;
		height: 100% !important;
		margin: auto;
		display: flex !important;
		align-items: center;

		.react-player {
			height: auto !important;
		}
	}