@font-face {
  src: url("https://fonts.googleapis.com/css?family=Raleway:300,400,600&display=swap");
  font-family: 'Raleway', sans-serif;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  background: black;
}

body {
  overflow: hidden;
  height: 100%;
  width: 100%;
  font-family: 'Raleway', sans-serif;
  outline: none;
  background: #000000;
}

.App {
  height: 100%;
  width: 100%;
}

.menu_toggle {
  z-index: 10;
  position: fixed;
  top: 0;
  left: 0;
  display: block;
  cursor: pointer;
  width: 100px;
  height: 80px;
  border-bottom-right-radius: 100%;
  border-bottom: 10px solid #ffffff;
}

.menu_toggle:active i {
  opacity: 0.8;
}

.menu_toggle i {
  color: #ffffff;
}

.menu_toggle .menu_open,
.menu_toggle .menu_close {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -25px;
  margin-left: -20px;
  -webkit-transition: -webkit-transform 0.7s cubic-bezier(1, 0.005, 0.24, 1);
  transition: -webkit-transform 0.7s cubic-bezier(1, 0.005, 0.24, 1);
  transition: transform 0.7s cubic-bezier(1, 0.005, 0.24, 1);
  transition: transform 0.7s cubic-bezier(1, 0.005, 0.24, 1), -webkit-transform 0.7s cubic-bezier(1, 0.005, 0.24, 1);
}

.menu_toggle .menu_open {
  -webkit-transform-origin: -100px -100px;
          transform-origin: -100px -100px;
}

.menu_toggle .menu_close {
  -webkit-transform: rotate(20deg);
          transform: rotate(20deg);
  -webkit-transform-origin: -100px -160px;
          transform-origin: -100px -160px;
}

.menu_items {
  position: fixed;
  display: block;
  margin: 0;
  padding: 0 15px;
  bottom: 100px;
  width: 400px;
}

.menu_items ul {
  margin: 0;
  padding: 0px;
}

.menu_items ul li {
  height: 70px;
  margin-bottom: 30px;
  list-style: none;
  -webkit-transform: translateX(-300px);
          transform: translateX(-300px);
  -webkit-transition: -webkit-transform 0.7s 0s cubic-bezier(1, 0.005, 0.24, 1);
  transition: -webkit-transform 0.7s 0s cubic-bezier(1, 0.005, 0.24, 1);
  transition: transform 0.7s 0s cubic-bezier(1, 0.005, 0.24, 1);
  transition: transform 0.7s 0s cubic-bezier(1, 0.005, 0.24, 1), -webkit-transform 0.7s 0s cubic-bezier(1, 0.005, 0.24, 1);
  cursor: pointer;
}

.menu_items ul li:nth-child(2) {
  margin-left: 30px;
}

.menu_items ul li:nth-child(3) {
  margin-left: 60px;
  margin-bottom: 0px;
}

.menu_items ul li:hover .menu-item {
  color: #4d4d4d;
}

.menu_items ul li:hover .menu-item .menu-icon:after {
  border-color: #4d4d4d;
  -webkit-filter: drop-shadow(0px 5px 7px rgba(255, 255, 255, 0.5));
          filter: drop-shadow(0px 5px 7px rgba(255, 255, 255, 0.5));
}

.menu_items ul li:hover .menu-item.is-selected {
  -webkit-filter: drop-shadow(0px 0px 20px white);
          filter: drop-shadow(0px 0px 20px white);
}

.menu_items ul li:hover .menu-item.is-selected .menu-icon:after {
  -webkit-filter: none;
          filter: none;
}

.menu_items ul li:active .menu-icon {
  color: transparent;
}

.menu_items ul .menu-item {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: auto;
  -webkit-transform: translate(12px, 12px);
          transform: translate(12px, 12px);
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: white;
  -webkit-transition: color .1s ease-in-out;
  transition: color .1s ease-in-out;
}

.menu_items ul .menu-item.is-selected {
  -webkit-filter: drop-shadow(0px 0px 10px white);
          filter: drop-shadow(0px 0px 10px white);
}

.menu_items ul .menu-item .menu-icon {
  position: relative;
  display: inline-block;
  margin-right: 20px;
}

.menu_items ul .menu-item .menu-icon:after {
  content: '';
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 2px solid white;
  -webkit-transition: border-color .1s ease-in-out;
  transition: border-color .1s ease-in-out;
}

.menu_items ul .menu-item .menu-icon img {
  display: block;
}

.menu_items ul .menu-item .menu-icon.resume-icon:after {
  -webkit-transform: translate(-55%, -50%);
          transform: translate(-55%, -50%);
}

@media (min-height: 700px) {
  .menu_items {
    bottom: 150px;
  }
}

@media (min-height: 850px) {
  .menu_items {
    bottom: 175px;
    padding: 0 25px;
  }
  .menu_items ul li {
    height: 85px;
    margin-bottom: 30px;
    list-style: none;
    -webkit-transform: translateX(-300px);
            transform: translateX(-300px);
    -webkit-transition: -webkit-transform 0.7s 0s cubic-bezier(1, 0.005, 0.24, 1);
    transition: -webkit-transform 0.7s 0s cubic-bezier(1, 0.005, 0.24, 1);
    transition: transform 0.7s 0s cubic-bezier(1, 0.005, 0.24, 1);
    transition: transform 0.7s 0s cubic-bezier(1, 0.005, 0.24, 1), -webkit-transform 0.7s 0s cubic-bezier(1, 0.005, 0.24, 1);
  }
  .menu_items ul li:nth-child(2) {
    margin-left: 30px;
  }
  .menu_items ul li:nth-child(3) {
    margin-left: 60px;
    margin-bottom: 0px;
  }
}

.is-opened .content {
  -webkit-transform: rotate(-30deg);
          transform: rotate(-30deg);
}

.is-opened .menu_open {
  -webkit-transform: rotate(-20deg);
          transform: rotate(-20deg);
}

.is-opened .menu_close {
  -webkit-transform: rotate(0);
          transform: rotate(0);
}

.is-opened .menu_items li {
  -webkit-transform: translateX(0);
          transform: translateX(0);
  -webkit-transition: -webkit-transform 0.35s 0.45s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: -webkit-transform 0.35s 0.45s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: transform 0.35s 0.45s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: transform 0.35s 0.45s cubic-bezier(0.175, 0.885, 0.32, 1.275), -webkit-transform 0.35s 0.45s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.is-opened .menu_items li:nth-child(2) {
  -webkit-transition-delay: 0.47s;
          transition-delay: 0.47s;
}

.is-opened .menu_items li:nth-child(3) {
  -webkit-transition-delay: 0.48s;
          transition-delay: 0.48s;
}

.is-opened .contact-info {
  -webkit-transform: translateX(-50px);
          transform: translateX(-50px);
}

@media (min-width: 1200px) {
  .is-opened .contact-info {
    -webkit-transform: translateX(-80px);
            transform: translateX(-80px);
  }
}

@media (min-width: 1600px) {
  .is-opened .contact-info {
    -webkit-transform: translateX(-150px);
            transform: translateX(-150px);
  }
}

.icon-container {
  position: fixed;
  width: 100%;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  z-index: 10;
  padding: 0 10px;
  -webkit-transition: all .1s ease-in-out;
  transition: all .1s ease-in-out;
}

.icon-container .copy-icon {
  margin: 15px auto;
  padding: 0 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
}

.icon-container .copy-icon img {
  width: 50px;
}

.icon-container .copy-icon:hover {
  -webkit-filter: drop-shadow(0px 5px 10px rgba(255, 255, 255, 0.6));
          filter: drop-shadow(0px 5px 10px rgba(255, 255, 255, 0.6));
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

@media (min-width: 450px) {
  .icon-container {
    padding-left: 30px;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .icon-container .copy-icon {
    margin: 15px;
  }
}

.contact-info {
  position: fixed;
  bottom: 60px;
  right: 0;
  -webkit-transform: translateX(120%);
          transform: translateX(120%);
  -webkit-transition: -webkit-transform 0.7s 0s cubic-bezier(1, 0.005, 0.24, 1);
  transition: -webkit-transform 0.7s 0s cubic-bezier(1, 0.005, 0.24, 1);
  transition: transform 0.7s 0s cubic-bezier(1, 0.005, 0.24, 1);
  transition: transform 0.7s 0s cubic-bezier(1, 0.005, 0.24, 1), -webkit-transform 0.7s 0s cubic-bezier(1, 0.005, 0.24, 1);
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: 2px;
  color: #b3b3b3;
  z-index: 10;
  text-align: center;
}

.contact-info #name {
  border-bottom: 3px solid #ffffff;
  width: 112%;
}

.contact-info #name p {
  margin: 2px;
  color: rgba(255, 255, 255, 0.25);
  font-size: 46px;
}

.contact-info #occupation p {
  margin: 6px;
  color: rgba(255, 255, 255, 0.6);
  font-size: 28px;
}

@media (min-height: 700px) {
  .contact-info {
    bottom: 60px;
  }
}

@media (min-height: 850px) {
  .contact-info {
    bottom: 90px;
  }
  .contact-info #name p {
    font-size: 38px;
  }
  .contact-info #occupation p {
    margin: 6px;
    font-size: 22px;
  }
}

@media (min-width: 1000px) {
  .contact-info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media (min-width: 1200px) {
  .contact-info {
    bottom: 120px;
  }
  .contact-info #name p {
    font-size: 56px;
  }
  .contact-info #occupation p {
    margin: 6px;
    font-size: 36px;
  }
}

@media (max-height: 500px) {
  .contact-info {
    display: none;
  }
}

.page {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 1;
}

.page .container {
  display: block;
  margin: auto;
  width: 60%;
  height: 600px;
  border: 2px solid white;
  padding: 20px;
  text-align: center;
  color: #ffffff;
}

.projects-page .container {
  background: #FF7F7F;
}

.skills-page .container {
  background: #2C5B8B;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.skills-page .container h1 {
  text-decoration: underline;
}

.skills-page .container .about-container {
  width: 70%;
  height: 100%;
}

.skills-page .container .skills-container {
  width: 30%;
  height: 100%;
}

.main {
  height: 100%;
  background-color: #000000;
  overflow: hidden;
  display: block;
}

.content {
  height: 200%;
  -webkit-transform-origin: top left;
          transform-origin: top left;
  -webkit-transition: -webkit-transform 0.7s cubic-bezier(1, 0.005, 0.24, 1);
  transition: -webkit-transform 0.7s cubic-bezier(1, 0.005, 0.24, 1);
  transition: transform 0.7s cubic-bezier(1, 0.005, 0.24, 1);
  transition: transform 0.7s cubic-bezier(1, 0.005, 0.24, 1), -webkit-transform 0.7s cubic-bezier(1, 0.005, 0.24, 1);
}

.content .content_inner {
  height: 100vh;
  overflow-y: hidden;
}

.content .content_inner canvas {
  display: block;
  outline: none;
  background: #000000;
  -webkit-transition: background 2s ease-in-out;
  transition: background 2s ease-in-out;
  z-index: 0;
}

.stats {
  left: auto !important;
  right: 0 !important;
}
/*# sourceMappingURL=main.css.map */