@font-face {
	src: url('https://fonts.googleapis.com/css?family=Raleway:300,400,600&display=swap');
	font-family: 'Raleway', sans-serif;
}

$red: rgba(251, 255, 241, 0);
$brown: #584e4a;
$whitey: #f0f0f0;

$snap: cubic-bezier(1, 0.005, 0.24, 1);
$bounce: cubic-bezier(0.175, 0.885, 0.32, 1.275);

$break-mobile: 450px;
$break-tablet: 1100px;


body {
	overflow: hidden;
	height: 100%;
	width: 100%;
	font-family: 'Raleway', sans-serif;
	outline: none;

	.App {
		height: 100%;
		width: 100%;

		.page {
			height: 100%;
			// background-color: $brown;
			background-color: black;
		}
		.content {
			// essential
			height: 200%; // make higher or you'll see background when rotated
			transform-origin: top left;
			transition: transform 0.7s $snap;
		}
		.content_inner {
			// essential
			height: 100vh; // compensate for higher .content
			overflow-y: hidden; // set expected overflow
			canvas {
				height: 100%;
				width: 100%;
				outline: none;
			}
		}

		.menu_toggle {
			z-index: 1;
			position: fixed;
			top: 0;
			left: 0;
			display: block;
			cursor: pointer;
			width: 100px;
			height: 80px;
			background-color: $red;
			border-bottom-right-radius: 100%;
			border-bottom: 10px solid #ffffff;

			&:active {
				i {
					opacity: 0.8;
				}
			}
			i {
				color: $whitey;
			}
			.menu_open,
			.menu_close {
				position: absolute;
				top: 50%;
				left: 50%;
				margin-top: -25px;
				margin-left: -20px;
				transition: transform 0.7s $snap;
			}
			.menu_open {
				transform-origin: -100px -100px;
			}
			.menu_close {
				transform: rotate(20deg);
				transform-origin: -100px -160px;
			}
		}
		.menu_items {
			position: fixed;
			bottom: 18vh;
			margin: 0;
			padding: 0;

			ul {
				left: 20px;
				list-style-type: none;

				li {
					height: 60px;
					margin-bottom: 60px;
					transform: translateX(-300px);
					transition: transform 0.7s 0s $snap;

					&:nth-child(2) {
						margin-left: 3vw;
					}
					&:nth-child(3) {
						margin-left: 5.9vw;
						margin-bottom: 0px;
					}
				}
				.menu-item {
					display: block;
					text-decoration: none;
					text-transform: uppercase;
					letter-spacing: 2px;
					color: darken($whitey, 30%);
					transition: color 0.2s;

					.menu-icon {
						position: relative;
						display: inline-block;
						margin-right: 15px;
						color: $whitey;

						&:after {
							position: absolute;
							top: 50%;
							left: 50%;
							content: '';
							display: block;
							width: 60px;
							height: 60px;
							margin-left: -33px;
							margin-top: -32px;
							border-radius: 100%;
							border: 2px solid $whitey;
							transition: border-color 0.2s;
						}
					}

					&:hover {
						color: $whitey;
						.menu-icon {
							&:after {
								border-color: $red;
							}
						}
					}
					&:active {
						.menu-icon {
							color: $red;
						}
					}
				}
			}

			.contact-info {
				position: fixed;
				bottom: 15vh;
				transition: transform 0.35s 0.45s $bounce;
				transform: translateX(1500px);
				transition: transform 0.7s 0s $snap;
				display: flex;
				flex-direction: column;
				align-items: center;
				letter-spacing: 2px;
				color: darken($whitey, 30%);

				#name {
					border-bottom: 6px solid white;

					p {
						margin: 10px;
						color: rgba(255, 255, 255, 0.637);
						font-size: 4vw;
					}
				}
				#occupation {
					p {
						margin: 6px;
						color: white;
						font-size: 2.5vw;
					}
				}
			}

			.icon-container {
				position: fixed;
				left: 30px;
				bottom: 0;
				display: flex;
				flex-direction: row;
				color: darken($whitey, 30%);

				#linkedin-icon {
					margin: 15px;
				}

				#linkedin-icon:hover {
					filter: drop-shadow(0px 5px 10px white);
				}

				#github-icon {
					margin: 15px;
				}
				#github-icon:hover {
					filter: drop-shadow(0px 5px 10px white);
				}

				#mail-icon {
					margin: 15px;
					cursor: pointer;
				}

				#mail-icon:hover {
					filter: drop-shadow(0px 5px 10px white);
				}

				#phone-icon {
					margin: 15px;
				}

				#phone-icon:hover {
					filter: drop-shadow(0px 5px 10px white);
				}
			}
		}

		/* Let's open up the menu */
		.shazam {
			.content {
				transform: rotate(-30deg);
			}

			.menu_open {
				transform: rotate(-20deg);
			}
			.menu_close {
				transform: rotate(0);
			}

			.menu_items {
				li {
					transform: translateX(0);
					transition: transform 0.35s 0.45s $bounce;

					&:nth-child(2) {
						transition-delay: 0.47s;
					}
					&:nth-child(3) {
						transition-delay: 0.48s;
					}
				}
			}

			.contact-info {
				transform: translateX(750px);
			}
		}

		@media screen and (max-width: $break-mobile) {
			.menu_items {
				bottom: 24vh;
				font-size: xx-small;

				ul {
					list-style-type: none;
					padding: 6vw;

					li {
						height: 60px;
						margin-bottom: 30px;
						transform: translateX(-300px);
						transition: transform 0.7s 0s $snap;

						&:nth-child(2) {
							margin-left: 9vw;
						}
						&:nth-child(3) {
							margin-left: 18vw;
						}
					}
					.menu-icon {
						height: 30px;
						width: 30px;
						margin-right: 18px;

						.menu-icon-sgv {
							height: 35px;
							width: 35px;
						}
					}
				}

				.contact-info {
					bottom: 10vh;

					#name {
						border-bottom: 2px solid white;

						p {
							margin: 5px;
							font-size: large;
						}
					}
					#occupation {
						p {
							margin: 3px;
							font-size: medium;
						}
					}
				}
			}
			.shazam {
				.contact-info {
					transform: translateX(20px);
				}
			}
		}

		@media screen and (min-width: $break-mobile) and (max-width: $break-tablet) {
			.menu_items {
				bottom: 37vh;
				// font-size: xx-small;

				ul {
					list-style-type: none;
					padding: 6vw;

					li {
						height: 60px;
						margin-bottom: 30px;
						transform: translateX(-300px);
						transition: transform 0.7s 0s $snap;

						&:nth-child(2) {
							margin-left: 4vw;
						}
						&:nth-child(3) {
							margin-left: 8vw;
						}
					}
					.menu-icon {
						height: 30px;
						width: 30px;
						margin-right: 18px;

						.menu-icon-sgv {
							height: 35px;
							width: 35px;
						}
					}
				}
				.contact-info {
					bottom: 10vh;

					#name {
						border-bottom: 4px solid white;

						p {
							margin: 10px;
							font-size: xx-large;
						}
					}
					#occupation {
						p {
							margin: 5px;
							font-size: x-large;
						}
					}
				}
			}
			.shazam {
				.contact-info {
					transform: translateX(30px);
				}
			}
		}

		// .full-screen-loading-background {
		//   height: 100vh;
		//   width: 100vw;
		//   position: fixed;
		//   z-index: 3;
		//   background: black;

		//   .loading-container {
		//       position: absolute;
		//       top: 50%;
		//       left: 50%;
		//       transform: translate(-50%, -50%);

		//       .loading-ring {
		//           width: 300px;
		//           height: 300px;
		//           border-radius: 50%;
		//           box-shadow: 0 4px 0 #262626;
		//           background: transparent;
		//           animation: animate 1s infinite linear;
		//       }
		//       .text {
		//           width: 300px;
		//           height: 300px;
		//           border-radius: 50%;
		//           color: #262626;
		//           position: absolute;
		//           top: 0;
		//           left: 0;
		//           text-align: center;
		//           line-height: 300px;
		//           font-size: 2em;
		//           background: transparent;
		//           box-shadow: 0 0 5px rgba(0, 0, 0, .2);

		//           .hide-loading-page {
		//             visibility: collapse;
		//         }
		//       }

		//       @keyframes animate {
		//           0% {
		//           transform: rotate(0deg);
		//           }
		//           100% {
		//           transform: rotate(360deg);
		//           }
		//       }
		//   }
		// }

		// .canvas-container{
		//   canvas {
		//     height: 100vh;
		//     width: 100vw;
		//     position: absolute;
		//   }
		// }
	}
}
