@font-face {
  src: url("https://fonts.googleapis.com/css?family=Raleway:300,400,600&display=swap");
  font-family: 'Raleway', sans-serif;
}

body {
  overflow: hidden;
  height: 100vh;
  width: 100vw;
  font-family: 'Raleway', sans-serif;
}

body .App {
  height: 100%;
  width: 100%;
  background: #ebe9e9;
  text-align: center;
}

body .App .header {
  position: absolute;
  z-index: 1;
  height: 10vh;
  width: 100%;
  color: white;
  background: rgba(0, 0, 0, 0.233);
  -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 65%, 75% 70%, 65% 100%, 35% 100%, 25% 70%, 0 65%);
          clip-path: polygon(0% 0%, 100% 0%, 100% 65%, 75% 70%, 65% 100%, 35% 100%, 25% 70%, 0 65%);
}

body .App .header #name-title {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .App .header #name-title #name {
  width: 50%;
  font-size: 2.5vw;
  border-bottom: 2px solid rgba(255, 255, 255, 0.753);
  color: white;
}

body .App .header #name-title #name p {
  margin: 2px;
}

body .App .header #name-title #title {
  width: 40%;
  color: rgba(255, 255, 255, 0.8);
  font-size: 1.5vw;
}

body .App .header #name-title #title p {
  margin: 2px;
}

body .App .header .icons {
  margin-left: 90%;
  top: 0;
  position: fixed;
  margin-top: 5px;
}

body .App .header .icons #linkedin-icon {
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.7);
  /* margin-bottom: -15px; */
  height: 40px;
  width: 40px;
  margin: 5px;
}

body .App .header .icons #linkedin-icon:hover {
  background: white;
}

body .App .header .icons #git-icon {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.7);
  margin: 5px;
}

body .App .header .icons #git-icon:hover {
  background: white;
}

body .App .full-screen-loading-background {
  height: 100vh;
  width: 100vw;
  position: fixed;
  z-index: 3;
  background: black;
}

body .App .full-screen-loading-background .loading-container {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

body .App .full-screen-loading-background .loading-container .loading-ring {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  -webkit-box-shadow: 0 4px 0 #262626;
          box-shadow: 0 4px 0 #262626;
  background: transparent;
  -webkit-animation: animate 1s infinite linear;
          animation: animate 1s infinite linear;
}

body .App .full-screen-loading-background .loading-container .text {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  color: #262626;
  position: absolute;
  top: 0;
  left: 0;
  text-align: center;
  line-height: 300px;
  font-size: 2em;
  background: transparent;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

body .App .full-screen-loading-background .loading-container .text .hide-loading-page {
  visibility: collapse;
}

@-webkit-keyframes animate {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes animate {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

body .App canvas {
  height: 100vh;
  width: 100vw;
}
/*# sourceMappingURL=App.css.map */